.main-box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 95%;
    font-family: Courier, monospace;
    font-size: x-large;
    /* letter-spacing: 0.1px; */
    /* height: 50vh; */
}

.text-box {
    text-align: justify;
    color: bisque;
}

.inputBox {
    /* position: relative; */
    z-index: -100;
    width: 0px;
    height: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    color: transparent;
}

.info-box {
    display: flex;
    justify-content: space-between;
    color: bisque;
}

.correct {
    color: rgb(3, 233, 3)
}

.incorrect {
    color: rgb(255, 45, 45)
}
