.main-box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 80%;
    grid-template-columns: 80%;
    font-family: Courier, monospace;
    letter-spacing: 0.1px;
    /* height: 50vh; */
}

.side-menu:hover {
    left: 0px;
    transition: all ease-in-out 0.5s;
}

.side-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 50vh;
    width: 100px;
    left: -50px;
    border-radius: 17px;
    background: #CEBA9B;
    transition: all ease-in-out 0.5s;
}

.settings-icon:hover {
    cursor: pointer;
    rotate: 45deg;
    transition: all ease 0.5s;
}

.settings-icon {
    rotate: 0deg;
    transition: all ease 0.5s;
}

.text-box {
    text-align: justify;
    font-size: x-large;
    color: bisque;
}



div[contentEditable="true"]:focus {
    outline: none;
    /* This will remove the default focus border */
    border: 1px solid transparent;
    /* Set the border to transparent to hide it */
}

div[contentEditable="true"]::selection {
    background-color: transparent;
}

.inputBox {
    position: relative;
    z-index: -100;
    width: 0px;
    height: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    color: transparent;
}

.correct {
    color: rgb(3, 233, 3)
}

.incorrect {
    color: rgb(255, 45, 45)
}
